* {
  margin: 0;
}

body {
  background-color: #FEE0D5;
  text-align: center;
  font-size: 1rem;
  font-family: 'Simonetta', cursive;
}

img {
  width: 60%;
  margin-bottom: 5%;
}

.form-container-home {
  flex-direction: column;
  text-align: center;
  font-family: 'Simonetta', cursive;
}




.optionSignIn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

.registrationLink{
  font-weight: bold;
}

.linkSign,
.optionSignIn p {
  font-family: 'Simonetta', cursive;
  font-weight: bold;
  color: #007878;
  padding: 10px;
}

.registrationLink p {
  color: black;
  font-weight: normal;
}

.optionSignIn hr {
  font-family: 'Simonetta', cursive;
  width: 30%;
  border: solid 0.3px #007878;
}

@media all and (min-width:768px) {
  body {
      font-size: 2rem;
  }

}

@media all and (min-width: 1024px) {

  .container {
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
  }

  img {
      height: 350px;
      width: auto;
      padding-top: 20px;
  }

  .form-container-home {
      background-color: rgba(249, 249, 249, 0.4);
      padding: 2%;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }

  body {
      font-size: 1.3rem;
  }

  
}